* {
  margin: 0;
  padding: 0;
}

.bg-custom {
  background-color: grey;
}

nav a{
  color: Black;
  text-decoration: none;
}

nav ul li a{
  color: Black;
  text-decoration: none;
}

.card-img-top {
  width: 20rem;
}

.card {
  margin: 5px
}